exportPattern("^[[:alpha:]]+")
import("timeSeries")

importFrom("stats", "as.ts", "embed","is.ts","lm", "na.omit","time", "ts.plot", "var")
importFrom("stats", "coef", "dchisq", "frequency", "resid","residuals", "ts")
importFrom("utils", "data")
export("ccr","ccrQ","fm","fmQ","fmgmm","fmols","fmvar","fmvar_forecast","fmvar_plag")
export("Bartlett_uni","bartlett","bohman","cauchy","dchlet","gw","Kurozumi_Bartlett","Kurozumi_QS",
       "mdchlet","Parzen_uni","parzen","QS_uni", "qs","reisz","SPC_Bartlett","SPC_QS","tukham","tukhan")
export("pp","kpss","Za","CZa","sw")
export("GHansen","kpss_1br","kpss_2br","ZA_1br","ZA_2br")
